<!DOCTYPE html>
<html th:lang="${#locale.language}"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/admin}">
<head>
    <meta charset="utf-8"/>
</head>
<body>
<th:block layout:fragment="script">
    <script th:src="@{/js/address.js}"></script>
</th:block>
</body>
<th:block layout:fragment="content">
    <div class="content-box">
        <div class="row">
            <div class="col-sm-12">
                <div class="element-wrapper">
                    <div class="element-actions">
                        <dev class="justify-content-sm-end">
                        </dev>
                    </div>
                    <h6 class="element-header">
                        Addresses
                    </h6>
                    <div class="element-content">
                        <div class="row">
                            <div class="col-sm-4 mt-3" th:each="address : ${addresses}">
                                <div class="pipeline-body">
                                    <div class="pipeline-item">
                                        <div class="pi-controls">
                                            <!--<div class="status" th:classappend="${item.active} ? 'status-green' : 'status-red'" data-placement="top" data-toggle="tooltip" th:title="${item.active} ? 'Active' : 'DeActive'"></div>-->
                                            <div class="status" data-placement="top" data-toggle="tooltip" title="Add to card">
                                                <a th:attr="onclick=|modifyAddress()|"><i class="fa fa-pencil"></i> </a>
                                            </div>
                                        </div>
                                        <div class="pi-body">
                                            <div class="avatar">
                                                <img alt="" th:src="${address.name}">
                                            </div>
                                            <div class="pi-info">
                                                <div class="h6 pi-name">
                                                    <span th:text="${address.name}"></span>
                                                </div>
                                                <div class="pi-sub">
                                                    <span th:text="${address.address1}"></span>
                                                    <span th:text="${address.address2}"></span>
                                                    <span th:text="${address.city + ', ' + address.state + ' ' + address.postcode}"></span>
                                                    <span th:text="${address.country}"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="pi-foot">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--------------------
    START - Sidebar
    -------------------->
    <div class="content-panel">
        <div class="content-panel-close">
            <i class="os-icon os-icon-close"></i>
        </div>
        <div class="element-wrapper">
            <h6 class="element-header">
                Quick Links
            </h6>
            <div class="element-box-tp">
                <div class="el-buttons-list full-width">
                    <button class="btn btn-outline-primary btn-block" type="button" data-target="#newAddressModel" data-toggle="modal"> <i class="fa fa-home mr-2"></i> Add new address</button>
                </div>
            </div>
        </div>
    </div>
    <!--------------------
    END - Sidebar
    -------------------->

    <div aria-hidden="true" class="onboarding-modal modal fade animated" id="newAddressModel" role="dialog" tabindex="-1" data-backdrop="false">
        <div class="modal-dialog modal-lg modal-centered" role="document">
            <div class="modal-content text-center">
                <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span class="close-label">Cancel</span><span class="os-icon os-icon-close"></span></button>
                <div class="onboarding-side-by-side">
                    <div class="onboarding-media">
                        <img alt="" src="/img/bigicon5.png" width="200px">
                    </div>
                    <div class="onboarding-content with-gradient">
                        <h4 class="onboarding-title">
                            Add new Address
                        </h4>
                        <div class="onboarding-text">
                            You can add any address here, no restriction, add what u like.
                        </div>
                        <form id="formNewAddress" th:action="@{/data/address/add}" method="post">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="">Full name</label><input name="name" class="form-control" placeholder="Full name..." type="text" value="" required="required" data-error="Full name is required"/>
                                        <div class="help-block form-text with-errors form-control-feedback"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="">Street address</label><input name="address1" class="form-control"  type="text" value="" placeholder="Street and number, P.O. box, c/o." required="required" data-error="Street address is required"/>
                                        <div class="help-block form-text with-errors form-control-feedback"></div>
                                    </div>
                                    <div class="form-group">
                                        <input name="address2" class="form-control" type="text" value="" placeholder="Apartment, suite, unit, building, floor, etc" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="">City</label><input name="city" class="form-control"  type="text" value="" required="required" data-error="Ci is required"/>
                                        <div class="help-block form-text with-errors form-control-feedback"></div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="">State / Province / Region</label><input name="state" class="form-control"  type="text" value="" required="required" data-error="State is required"/>
                                        <div class="help-block form-text with-errors form-control-feedback"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="">Zip Code</label><input name="postcode" class="form-control"  type="text" value="" required="required" data-error="Zip code is required"/>
                                        <div class="help-block form-text with-errors form-control-feedback"></div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="">Phone number</label><input name="contact" class="form-control"  type="text" value="" />
                                        <div class="help-block form-text with-errors form-control-feedback"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="">Company</label><input name="company" class="form-control" placeholder="Company name ..." type="text" value="" />
                                        <div class="help-block form-text with-errors form-control-feedback"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="">Memo</label><textarea name="memo" class="form-control" placeholder="Address memo ..."  value="" cols="3"></textarea>
                                        <div class="help-block form-text with-errors form-control-feedback"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-8"></div>
                                <div class="col-sm-4">
                                    <button class="btn btn-primary" type="submit"> Add new address </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</th:block>
</html>