<!DOCTYPE html>
<html th:lang="${#locale.language}"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/admin}">
<head>
    <meta charset="utf-8"/>
</head>
<body>
<th:block layout:fragment="script">
    <script th:src="@{/js/shop.js}"></script>
</th:block>
</body>
<th:block layout:fragment="content">
    <div class="content-box">
        <div class="row">
            <div class="col-sm-12">
                <div class="element-wrapper">
                    <div class="element-actions">
                        <dev class="justify-content-sm-end">
                        </dev>
                    </div>
                    <h6 class="element-header">
                        Merchandises
                    </h6>
                    <div class="element-content">
                        <div class="row">
                            <div class="col-sm-4" th:each="item : ${items}">
                                <div class="pipeline-body">
                                    <div class="pipeline-item">
                                        <div class="pi-controls">
                                            <!--<div class="status" th:classappend="${item.active} ? 'status-green' : 'status-red'" data-placement="top" data-toggle="tooltip" th:title="${item.active} ? 'Active' : 'DeActive'"></div>-->
                                            <div class="status" data-placement="top" data-toggle="tooltip" title="Add to card">
                                                <a th:attr="onclick=|showAddToCartModal('${item.name}','${item.imgUrl}', ${item.minimalOrderCustomer})|"><i class="fa fa-shopping-cart"></i> </a>
                                            </div>
                                        </div>
                                        <div class="pi-body">
                                            <div class="avatar">
                                                <img alt="" th:src="${item.imgUrl}">
                                            </div>
                                            <div class="pi-info">
                                                <div class="h6 pi-name">
                                                    <span th:text="${item.name}"></span>
                                                </div>
                                                <div class="pi-sub">
                                                    <span th:text="${item.description}"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="pi-foot">
                                            <div class="tags">
                                                <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                                                    <span class="tag" th:text="'Price - A: ' + ${#numbers.formatCurrency(item.priceAgent)}"></span>
                                                    <span class="tag" th:text="'MOQ - A: ' + ${item.minimalOrderAgent}"></span>
                                                    <span class="tag" th:text="'Price - C: ' + ${#numbers.formatCurrency(item.priceCustomer)}"></span>
                                                    <span class="tag" th:text="'MOQ - C : ' + ${item.minimalOrderCustomer}"></span>
                                                </th:block>
                                                <th:block sec:authorize="hasRole('ROLE_AGENT')">
                                                    <span class="tag" th:text="'Price: ' + ${#numbers.formatCurrency(item.priceAgent)}"></span>
                                                    <span class="tag" th:text="'MOQ: ' + ${item.minimalOrderAgent}"></span>
                                                </th:block>
                                                <th:block sec:authorize="hasRole('ROLE_CUSTOMER')">
                                                    <span class="tag" th:text="'Price: ' + ${#numbers.formatCurrency(item.priceCustomer)}"></span>
                                                    <span class="tag" th:text="'MOQ: ' + ${item.minimalOrderCustomer}"></span>
                                                </th:block>

                                                <span class="tag" th:classappend="${item.stockCount < 10} ? 'text-danger' : ''" th:text="'Stock: ' + ${item.stockCount}"></span>
                                                <span class="tag" th:text="'Lead: ' + ${item.leadTime} + ' Days'"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--------------------
    START - Sidebar
    -------------------->
    <div class="content-panel">
        <div class="content-panel-close">
            <i class="os-icon os-icon-close"></i>
        </div>
        <div class="element-wrapper">
            <h6 class="element-header">
                Quick Links
            </h6>
            <div class="element-box-tp">
                <div class="el-buttons-list full-width" sec:authorize="hasRole('ROLE_ADMIN')">
                    <button class="btn btn-outline-primary btn-block" type="button" data-target="#newItemModel" data-toggle="modal"> <i class="fa fa-microchip mr-2"></i> Add new merchandise</button>
                </div>

                <div class="el-buttons-list full-width" sec:authorize="!hasRole('ROLE_ADMIN')">
                    <button class="btn btn-outline-primary btn-block" type="button" data-target="#itemRequestModel" data-toggle="modal"> <i class="fa fa-microchip mr-2"></i> Request new merchandise</button>
                </div>
            </div>
        </div>
    </div>
    <!--------------------
    END - Sidebar
    -------------------->

    <div aria-hidden="true" class="onboarding-modal modal fade animated" id="newItemModel" role="dialog" tabindex="-1" sec:authorize="hasRole('ROLE_ADMIN')">
        <div class="modal-dialog modal-lg modal-centered" role="document">
            <div class="modal-content text-center">
                <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span class="close-label">Cancel</span><span class="os-icon os-icon-close"></span></button>
                <div class="onboarding-side-by-side">
                    <div class="onboarding-media">
                        <img alt="" src="/img/bigicon5.png" width="200px">
                    </div>
                    <div class="onboarding-content with-gradient">
                        <h4 class="onboarding-title">
                            Add new Item
                        </h4>
                        <div class="onboarding-text">
                            Item image size must be 286x180, and only allow one image per item
                        </div>
                        <form id="formNewItem" th:action="@{/data/system/item/add}" method="post">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="">Item Name</label><input name="name" class="form-control" placeholder="Item name..." type="text" value="" required="required" data-error="Item name is required"/>
                                        <div class="help-block form-text with-errors form-control-feedback"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="">Category</label><select class="form-control" name="category">
                                        <option>
                                            Web Developer
                                        </option>
                                        <option>
                                            Business Owner
                                        </option>
                                        <option>
                                            Other
                                        </option>
                                    </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="">Customer Price (USD $)</label><input name="customerPrice" class="form-control"  type="number" value="" required="required" data-error="Price is required"/>
                                        <div class="help-block form-text with-errors form-control-feedback"></div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="">Agent Price (USD $)</label><input name="agentPrice" class="form-control"  type="number" value="" required="required" data-error="Price is required"/>
                                        <div class="help-block form-text with-errors form-control-feedback"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="">In Stock</label><input name="stockCount" class="form-control"  type="number" value="" required="required" data-error="Qty is required"/>
                                        <div class="help-block form-text with-errors form-control-feedback"></div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="">Lead time (Days)</label><input name="leadTime" class="form-control"  type="number" value="" required="required" data-error="Lead is required"/>
                                        <div class="help-block form-text with-errors form-control-feedback"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="">MOQ (Customer)</label><input name="moqCustomer" class="form-control"  type="number" value="" required="required" data-error="MOQ is required"/>
                                        <div class="help-block form-text with-errors form-control-feedback"></div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="">MOQ (Agent)</label><input name="moqAgent" class="form-control"  type="number" value="" required="required" data-error="MOQ is required"/>
                                        <div class="help-block form-text with-errors form-control-feedback"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="">Item Image URL</label><input name="imageUrl" class="form-control" placeholder="Item image URL..." type="url" value="" required="required" data-error="Image is required"/>
                                        <div class="help-block form-text with-errors form-control-feedback"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="">Item Description</label><textarea name="description" class="form-control" placeholder="Item description..."  value="" cols="3" required="required" data-error="Description is required"></textarea>
                                        <div class="help-block form-text with-errors form-control-feedback"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-8"></div>
                                <div class="col-sm-4">
                                    <button class="btn btn-primary" type="submit"> Create new item </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div aria-hidden="true" class="onboarding-modal modal fade animated" id="itemRequestModel" role="dialog" tabindex="-1" sec:authorize="!hasRole('ROLE_ADMIN')">
        <div class="modal-dialog modal-lg modal-centered" role="document">
            <div class="modal-content text-center">
                <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span class="close-label">Cancel</span><span class="os-icon os-icon-close"></span></button>
                <div class="onboarding-side-by-side">
                    <div class="onboarding-media">
                        <img alt="" src="/img/bigicon5.png" width="200px">
                    </div>
                    <div class="onboarding-content with-gradient">
                        <h4 class="onboarding-title">
                            Request new Item
                        </h4>
                        <div class="onboarding-text">
                            Having merchandises that not in our list, request here, we will response within 5 business days
                        </div>
                        <form id="formItemRequest" th:action="@{/date/shop/item/request}" method="post">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="">Item Name</label><input name="name" class="form-control" placeholder="Item name..." type="text" value="" required="required" data-error="Item name is required"/>
                                        <div class="help-block form-text with-errors form-control-feedback"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="">Item URL</label><input name="itemUrl" class="form-control" placeholder="Item URL..." type="url" value="" required="required" data-error="URL is required"/>
                                        <div class="help-block form-text with-errors form-control-feedback"></div>
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for=""> Target price (USD $)</label><input name="targetPrice" class="form-control"  type="number" value="" required="required" data-error="Target price is required"/>
                                        <div class="help-block form-text with-errors form-control-feedback"></div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="">Target order qty</label><input name="targetQty" class="form-control"  type="number" value="" required="required" data-error="Target qty is required"/>
                                        <div class="help-block form-text with-errors form-control-feedback"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="">Description</label><textarea name="description" class="form-control" placeholder="Request description..."  value="" cols="4"></textarea>
                                        <div class="help-block form-text with-errors form-control-feedback"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-8"></div>
                                <div class="col-sm-4">
                                    <button class="btn btn-primary" type="submit"> Request new item </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div aria-hidden="true" class="onboarding-modal modal fade animated" id="addToCartModal" role="dialog" tabindex="-1">
        <div class="modal-dialog modal-centered" role="document">
            <div class="modal-content text-center">
                <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span class="close-label">Cancel</span><span class="os-icon os-icon-close"></span></button>
                <div class="onboarding-media">
                    <img id="imgAddToCart" alt="" src="/img/bigicon5.png" width="200px">
                </div>
                <div class="onboarding-content with-gradient">
                    <h4 class="onboarding-title" id="titleAddToCart">
                        Item name
                    </h4>
                    <div class="onboarding-text">
                        We only allow purchase that meet MOQ requirement, if no enough in stock, items will be ship delay.
                    </div>
                    <form>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="">Order Quantity</label><input id="addToCartOrderCount" class="form-control" type="number" value="">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="">Your Role</label>
                                    <button class="form-control btn-outline-primary">Add to cart</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</th:block>
</html>