<!DOCTYPE html>
<html th:lang="${#locale.language}"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin}">
<head>
    <meta charset="utf-8"/>
</head>
<body>
<th:block layout:fragment="script">
    <script th:src="@{/js/shoppingcart.js}"></script>
</th:block>
</body>
<th:block layout:fragment="content">
    <script th:inline="javascript">

        /*<![CDATA[*/

        var updateSuccess = [[${param.success}]];

        /*]]>*/
    </script>
    <div class="content-box">
        <div class="row">
            <div class="col-sm-12">
                <div class="element-wrapper">
                    <div class="element-actions">
                        <dev class="justify-content-sm-end">
                        </dev>
                    </div>
                    <h6 class="element-header">
                        Shopping Cart
                    </h6>

                    <div class="alert alert-success" role="alert" style="display:none;"><strong>Succeeded! </strong>Shopping cart qty been updated successfully</div>

                    <div class="element-content">
                        <form th:object="${cart}" method="post" th:action="@{/admin/updateorderqty}" id="formUpdateCart">
                            <input type="hidden" th:field="${cart.id}">
                            <div class="element-box">

                                <div class="table-responsive">
                                <!--------------------
                                START - Shooping Cart Table
                                -------------------->
                                    <table class="table table-lightborder">
                                    <thead>
                                    <tr>
                                        <th width="30%">
                                            Product
                                        </th>
                                        <th class="text-center" width="10%">
                                            Unit Price
                                        </th>
                                        <th class="text-center" width="8%">
                                            Quantity
                                        </th>
                                        <th class="text-center" width="15%">
                                            Subtotal
                                        </th>
                                        <th class="text-center" width="10%">
                                            Remove
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="item, stat : ${cart.cartItemDtos}">
                                        <input type="hidden" th:field="${cart.cartItemDtos[__${stat.index}__].id}">
                                        <td class="cell-with-media">
                                            <div class="form-group">
                                                <img th:src="${item.imgUrl}" style="height: 25px;">
                                                <span th:text="${item.title}" class="ml-2"></span>
                                            </div>

                                        </td>
                                        <td class="text-center">
                                            <div class="form-group">
                                                <span th:text="${#numbers.formatCurrency(item.unitPrice)}"></span>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div class="form-group">
                                                <input onchange="updateItemQty()" class="form-control" type="number" th:field="${cart.cartItemDtos[__${stat.index}__].qty}" th:min="${item.moq}" required="required" data-error="MOQ Required">
                                                <div class="help-block form-text with-errors form-control-feedback"></div>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div class="form-group">
                                                <span th:text="${#numbers.formatCurrency(item.unitPrice * item.qty)}"></span>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div class="form-group">
                                                Delete
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <!--------------------
                                END - Shopping Cart Table
                                -------------------->

                                </div>
                            </div>
                            <div class="element-box" style="margin-top: -10px;">
                                <div class="row">
                                    <div class="col">
                                        <a th:href="@{/admin/shop}" class="btn btn-outline-dark" style="text-decoration-line: none;">CONTINUE SHOPPING</a>
                                    </div>
                                    <div class="col-md-auto">
                                        <button class="btn btn-outline-dark pull-right"  type="submit">UPDATE SHOPPING CART</button>
                                    </div>
                                    <div class="col-md-auto">
                                        <a href="javascript:;" class="btn btn-outline-danger pull-right" style="text-decoration-line: none;">CLEAR SHOPPING CART</a>
                                    </div>

                                </div>
                            </div>
                        </form>
                        <div class="element-box" style="margin-top: -10px;">
                            <form th:object="${cart}" method="post" th:action="@{/admin/order/submit}" id="formSubmitOrder">
                                <div class="row" style="margin-top: -18px;">
                                    <div class="col-md-4">
                                        <fieldset class="form-group">
                                            <legend><span>Additional Comments</span></legend>
                                            <div class="form-desc" style="margin-top: -18px;">
                                                Comments will be visible to both you and the agents.
                                            </div>
                                            <textarea class="form-control" rows="6" style="margin-top: -16px;"></textarea>
                                        </fieldset>
                                    </div>
                                    <div class="col-md-4">
                                        <fieldset>
                                            <legend><span>Purchase from</span></legend>
                                            <div class="form-desc" style="margin-top: -18px;">
                                                Select from supplier or agent
                                            </div>
                                            <select class="form-control" name="purchasefrom" style="margin-top: -16px;" th:field="*{purchasefrom}">
                                                <option value="agent">
                                                    Agent
                                                </option>
                                                <option value="supplier">
                                                    Supplier
                                                </option>
                                            </select>
                                        </fieldset>

                                        <fieldset class="form-group">
                                            <legend><span>Ship to</span></legend>
                                            <div class="form-desc" style="margin-top: -18px">
                                                The first stop shipping address
                                            </div>
                                            <select class="form-control" name="shipto" style="margin-top: -16px;" th:field="*{shipto}">
                                                <option value="-1">Select Address</option>
                                                <option th:each="address : ${addresses}" th:value="${address.id}" th:utext="${address.getAddress1() + ', ' + address.city + ', ' + address.state + ', ' + address.country}"></option>
                                            </select>
                                        </fieldset>
                                    </div>
                                    <div class="col-md-4">
                                        <fieldset class="form-group">
                                            <legend><span>Order Summery</span></legend>
                                            <div class="form-desc" style="margin-top: -18px;">
                                                <code class="highlighter-rouge">Shipping cost </code>will be calculated based on your delivery address, the picked agent and the shipment size/weight, will provided during invoice.
                                            </div>

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <h7>Subtotal: </h7>
                                                </div>
                                                <div class="col-md-6 text-right">
                                                    <h6 th:text="${#numbers.formatCurrency(#aggregates.sum(cart.cartItemDtos.![qty*unitPrice]))}"></h6>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <h7>Shipping: </h7>
                                                </div>
                                                <div class="col-md-6 text-right">
                                                    <h6>Pending</h6>
                                                </div>
                                            </div>
                                            <button th:attr="onclick=|confirmOrder('${cart.id}')|"
                                                    type="button"
                                                    class="mt-3 btn btn-block btn-danger"
                                                    style="height: 40px;"
                                                    id="btnSubmitOrder"
                                            >SUBMIT YOUR ORDER</button>

                                        </fieldset>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--------------------
    START - Sidebar
    -------------------->
    <div class="content-panel">
        <div class="content-panel-close">
            <i class="os-icon os-icon-close"></i>
        </div>
        <div class="element-wrapper">
            <h6 class="element-header">
                Detailed Information
            </h6>
            <div class="element-box-tp">
                <fieldset>
                    <legend><span>Purchase from</span></legend>
                    <div class="form-desc" style="margin-top: -18px;">
                        <code class="highlighter-rouge">Suppliers</code> are seller provide the item directly, <code class="highlighter-rouge">Agent</code> is an company they stock item in their warehouse locally,
                        Agent may provide service faster as Supplier normally.
                    </div>
                </fieldset>
                <fieldset class="form-group">
                    <legend><span>Ship to</span></legend>
                    <div class="form-desc" style="margin-top: -18px">
                        Please select the destination carefully, this information used to determinate which agent is available for your purchase to serve you faster and better.
                        The ship to address is first stop address, e.g. if you order items from USA to China via HongKong, so HongKong should be ship to address, but if you selected purchase from agent, you should select China address as ship to address.
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
    <!--------------------
    END - Sidebar
    -------------------->

    <div aria-hidden="true" class="onboarding-modal modal fade animated" id="cartConfirm" role="dialog" tabindex="-1" data-backdrop="false">
        <div class="modal-dialog modal-centered" role="document">
            <div class="modal-content text-center">
                <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span class="close-label">Close</span><span class="os-icon os-icon-close"></span></button>
                <div class="onboarding-media">
                    <img id="imgAddToCartSuccess" alt="" src="/img/bigicon5.png" width="200px">
                </div>
                <div class="onboarding-content with-gradient">
                    <h4 class="onboarding-title">
                        Order submitted successfully
                    </h4>
                    <div class="onboarding-text">
                        One of the agent will contact you shortly with updated shipping cost based on your shipping address.
                    </div>
                    <form>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <a th:href="@{/admin/shop}" class="form-control btn btn-primary upper">CONTINUE SHOPPING</a>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <a th:href="@{/admin/order/details/}" class="btn btn-dark form-control upper">SHOW ORDEr</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</th:block>
</html>