<!DOCTYPE html>
<html th:lang="${#locale.language}"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin}">
<head>
    <meta charset="utf-8"/>
</head>
<body>
<th:block layout:fragment="script">
    <script th:src="@{/js/shop.js}"></script>
</th:block>
</body>
<th:block layout:fragment="content">
    <div class="content-box">
        <div class="row">
            <div class="col-sm-12">
                <div class="element-wrapper">
                    <div class="element-actions">
                        <dev class="justify-content-sm-end">
                        </dev>
                    </div>
                    <h6 class="element-header">
                        Merchandises
                    </h6>
                    <div class="element-content">
                        <div class="row">
                            <div class="col-md-3 p-1" >
                                <div class="card">
                                    <img class="card-img-top" src="http://res.cloudinary.com/chenscorp/image/upload/c_fill,h_180,w_286/v1525480937/e-commerice/91w4iBgHaRL._SX679_.jpg" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title">Card title<span class="pull-right h6 font-weight-light">$ 459.99</span> </h5>
                                        <p class="card-text">Ship to HongKong.</p>
                                        <p><a href="#" class="btn btn-primary">Go somewhere</a><span class="h7 font-weight-light pull-right pt-1">MOQ: 40</span></p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3 p-1" >
                                <div class="card">
                                    <img class="card-img-top" src="http://res.cloudinary.com/chenscorp/image/upload/c_fill,h_180,w_286/v1525480937/e-commerice/91w4iBgHaRL._SX679_.jpg" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        <p><a href="#" class="btn btn-primary">Go somewhere</a><span class="h7 font-weight-light pull-right pt-1 text-danger">MOQ: 40</span></p>
                                    </div>
                                </div>
                            </div>

                            <div class=" col-md-3 p-1" >
                                <div class="card">
                                    <img class="card-img-top" src="http://res.cloudinary.com/chenscorp/image/upload/c_fill,h_180,w_286/v1525480937/e-commerice/91w4iBgHaRL._SX679_.jpg" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        <a href="#" class="btn btn-primary">Go somewhere</a>
                                    </div>
                                </div>
                            </div>

                            <div class=" col-md-3 p-1" >
                                <div class="card">
                                    <img class="card-img-top" src="http://res.cloudinary.com/chenscorp/image/upload/c_fill,h_180,w_286/v1525480937/e-commerice/91w4iBgHaRL._SX679_.jpg" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        <a href="#" class="btn btn-primary">Go somewhere</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--------------------
    START - Sidebar
    -------------------->
    <div class="content-panel">
        <div class="content-panel-close">
            <i class="os-icon os-icon-close"></i>
        </div>
        <div class="element-wrapper">
            <h6 class="element-header">
                Quick Links
            </h6>
            <div class="element-box-tp">
                <div class="el-buttons-list full-width">
                    <button class="btn btn-outline-primary btn-block" type="button"><i class="fa fa-user-plus"></i> Invite User</button>
                </div>
            </div>
        </div>
    </div>
    <!--------------------
    END - Sidebar
    -------------------->
</th:block>
</html>