<!DOCTYPE html>
<html th:lang="${#locale.language}"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin}">
<head>
    <meta charset="utf-8"/>
</head>
<body>
<th:block layout:fragment="script">
    <script th:src="@{/js/shoppingcart.js}"></script>
</th:block>
</body>
<th:block layout:fragment="content">
    <div class="content-box">
        <div class="row">
            <div class="col-sm-12">
                <div class="element-wrapper">
                    <div class="element-actions">
                        <dev class="justify-content-sm-end">
                        </dev>
                    </div>
                    <h6 class="element-header">
                        Shopping Cart
                    </h6>
                    <div class="element-content">
                        <form th:object="${cart}" method="post" th:action="@{/admin/updateorderqty}">
                            <input type="hidden" th:field="${cart.id}">
                            <div class="element-box">

                                <div class="table-responsive">
                                <!--------------------
                                START - Shooping Cart Table
                                -------------------->
                                    <table class="table table-lightborder">
                                    <thead>
                                    <tr>
                                        <th width="30%">
                                            Product
                                        </th>
                                        <th class="text-center" width="10%">
                                            Unit Price
                                        </th>
                                        <th class="text-center" width="8%">
                                            Quantity
                                        </th>
                                        <th class="text-center" width="15%">
                                            Subtotal
                                        </th>
                                        <th class="text-center" width="10%">
                                            Remove
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="item, stat : ${cart.cartItemDtos}">
                                        <input type="hidden" th:field="${cart.cartItemDtos[__${stat.index}__].id}">
                                        <td class="cell-with-media">
                                            <img th:src="${item.imgUrl}" style="height: 25px;">
                                            <span th:text="${item.title}" class="ml-2"></span>
                                        </td>
                                        <td class="text-center">
                                            <span th:text="${#numbers.formatCurrency(item.unitPrice)}"></span>
                                        </td>
                                        <td class="text-center">
                                            <input onchange="updateItemQty()" class="form-control" type="number" th:field="${cart.cartItemDtos[__${stat.index}__].qty}">
                                        </td>
                                        <td class="text-center">
                                            <span th:text="${#numbers.formatCurrency(item.unitPrice * item.qty)}"></span>
                                        </td>
                                        <td class="text-center">
                                            Delete
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <!--------------------
                                END - Shopping Cart Table
                                -------------------->

                                </div>
                            </div>
                            <div class="element-box" style="margin-top: -10px;">
                                <div class="row">
                                    <div class="col">
                                        <a href="javascript:;" class="btn btn-outline-dark" style="text-decoration-line: none;">CONTINUE SHOPPING</a>
                                    </div>
                                    <div class="col-md-auto">
                                        <button class="btn btn-outline-dark pull-right"  type="submit">UPDATE SHOPPING CART</button>
                                    </div>
                                    <div class="col-md-auto">
                                        <a href="javascript:;" class="btn btn-outline-danger pull-right" style="text-decoration-line: none;">CLEAR SHOPPING CART</a>
                                    </div>

                                </div>
                            </div>
                        </form>
                        <div class="element-box" style="margin-top: -10px;">
                            <div class="row">
                                <div class="col-md-4">
                                    <h5 class="form-header">Additional Comments</h5>
                                    <div class="form-desc">
                                        Comments will be visible to both you and the agents.
                                    </div>
                                    <textarea class="form-control" rows="6"></textarea>
                                </div>
                                <div class="col-md-4">
                                    <h5 class="form-header">Ship to</h5>
                                    <div class="form-desc">
                                        Please select the destination carefully, this information used to determinate which agent is avaiable for your purchase to serve you faster and better.
                                    </div>
                                    <div class="form-group">
                                        <select class="form-control" name="shipto">
                                            <option>
                                                HongKong
                                            </option>
                                            <option>
                                                China
                                            </option>
                                            <option>
                                                USA
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <h5 class="form-header">Order Summery</h5>
                                    <div class="form-desc">
                                        <code class="highlighter-rouge">Shipping cost </code>will be calculated based on your delivery address, the picked agent and the shipment size/weight, will provided during invoice.
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h7>Subtotal: </h7>
                                        </div>
                                        <div class="col-md-6 text-right">
                                            <h6 th:text="${#numbers.formatCurrency(#aggregates.sum(cart.cartItemDtos.![qty*unitPrice]))}"></h6>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h7>Shipping: </h7>
                                        </div>
                                        <div class="col-md-6 text-right">
                                            <h6>Pending</h6>
                                        </div>
                                    </div>
                                    <button th:attr="onclick=|confirmOrder('${cart.id}')|"
                                            type="button"
                                            class="mt-3 btn btn-block btn-danger"
                                            style="height: 40px;"
                                            id="btnSubmitOrder"
                                            >SUBMIT YOUR ORDER</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--------------------
    START - Sidebar
    -------------------->
    <div class="content-panel">
        <div class="content-panel-close">
            <i class="os-icon os-icon-close"></i>
        </div>
        <div class="element-wrapper">
            <h6 class="element-header">
                Quick Links
            </h6>
            <div class="element-box-tp">
                <div class="el-buttons-list full-width">
                    <button class="btn btn-outline-primary btn-block" type="button"><i class="fa fa-user-plus"></i> Invite User</button>
                </div>
            </div>
        </div>
    </div>
    <!--------------------
    END - Sidebar
    -------------------->

    <div aria-hidden="true" class="onboarding-modal modal fade animated" id="cartConfirm" role="dialog" tabindex="-1" data-backdrop="false">
        <div class="modal-dialog modal-centered" role="document">
            <div class="modal-content text-center">
                <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span class="close-label">Close</span><span class="os-icon os-icon-close"></span></button>
                <div class="onboarding-media">
                    <img id="imgAddToCartSuccess" alt="" src="/img/bigicon5.png" width="200px">
                </div>
                <div class="onboarding-content with-gradient">
                    <h4 class="onboarding-title">
                        Order submitted successfully
                    </h4>
                    <div class="onboarding-text">
                        One of the agent will contact you shortly with updated shipping cost based on your shipping address.
                    </div>
                    <form>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <a th:href="@{/admin/shop}" class="form-control btn btn-primary upper">CONTINUE SHOPPING</a>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <a th:href="@{/admin/invoice}" class="btn btn-dark form-control upper">SHOW INVOICE</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</th:block>
</html>